<!-- Page archives -->
<div class="container text-center text-white pt-5">
    <a class="nav-link text-decoration-none text-reset" href="/archives">
        <h1 class="mb-3 pb-3 pt-2 bg-bleu_transparent_ps">Archives PS+</h1>
    </a>
</div>

<!-- Cardes archives -->
<div class="container text-center">

    {{!-- Boucle archive --}}
    {{#each ( limit cardeArchive 2 )}}
    <div class="col-md-10 text-white text-center bg-bleu_transparent_ps center-div mb-5">
        <div class="d-flex justify-content-around mt-3 mb-3">

            <div class="col-md-6 text-center mt-1">
                <div class="center-div">
                    <a href="#"><img src="{{imageArchive}}" alt="" class="img-fluid d-block taille_img_arch"></a>
                </div>
            </div>
            <div class="col-md-6 mt-1 px-4">
                <h1>{{dateArchive}}</h1>
                <p>Jeux du mois de {{dateArchive}}</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-primary"><a href="{{link}}" target="_blank">{{title}}</a></li>
                    <li class="list-group-item list-group-item-primary"><a href="{{link2}}" target="_blank">{{title2}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{/each}}
    {{!-- / Boucle archive --}}

</div>

<!-- Cardes archives -->