{{!-- Collaps Acceuil --}}
<div class="container">
    <div class="accordion mt-5" id="accordionacceuil">
        <div class="card bg-gris_transparent_ps">
            <div class="card-header" id="headingacceuil">
                {{#if LoadArchive }}
                <button class="btn btn-block text-left" type="button" data-toggle="collapse" aria-expanded="true"
                    aria-controls="collapseacceuil">
                    <div class="container text-center text-primary pt-2">
                        <h2>Acceuil</h2>
                    </div>
                </button>
                {{else}}
                {{#if LoadArticle }}
                <button class="btn btn-block text-left" type="button" data-toggle="collapse" aria-expanded="true"
                    aria-controls="collapseacceuil">
                    <div class="container text-center text-primary pt-2">
                        <h2>Acceuil</h2>
                    </div>
                </button>
                {{else}}
                <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseacceuil" aria-expanded="true" aria-controls="collapseacceuil">
                    <div class="container text-center text-primary pt-2">
                        <h2>Acceuil</h2>
                    </div>
                </button>
                {{/if}}
                {{/if}}

                <div class="trait_admin"></div>

                {{!-- class="collapse show"   pour afficher le collaps --}}

                <div id="collapseacceuil" class="collapse" aria-labelledby="headingacceuil"
                    data-parent="#accordionacceuil">
                    <div class="card-body text-center text-primary">

                        {{!-- Interrieur collaps acceuil --}}

                        <div class="container">
                            <div
                                class="col-md-8 text-white text-center bg-bleu_transparent_ps text-decoration-none m-2 center-div pt-3">
                                <div class="col-md-12">

                                    {{!-- Cadre modification caroussel acceuil--}}
                                    <div class="col-md-8 center-div border border-white rounded-lg mt-3 px-2">
                                        <h2 class="mt-2">Images caroussel</h2>
                                        <!-- image du carousel Auto-->
                                        <ul id="ulListeCarousel" class="list-unstyled row">

                                            {{#each dbCarouselAcceuil }}
                                            {{#each galleryImg }}

                                            <li class="col-md-4 my-2"><img src="{{ filename }}"
                                                    class="d-block w-100 h-100" alt=""></li>

                                            {{/each}}
                                            {{/each}}
                                        </ul>
                                        <!-- / image du carousel Auto--

                                            <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary m-2" data-toggle="modal"
                                            data-target="#ModalCarouselAcceuilAjout">Ajouter une image</button>
                                        <button type="button" class="btn btn-danger m-2" data-toggle="modal"
                                            data-target="#ModalCarouselAcceuilSupp">Supprimer une
                                            image</button>
                                    </div>
                                </div>
                                {{!-- collaps modification image caroussel --}}

                                <!-- Modal  Carousel Ajout Images -->
                                <div class="modal fade" id="ModalCarouselAcceuilAjout" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <form action="/admin/acceuil/carousel" method="post"
                                                enctype="multipart/form-data">
                                                <div class="modal-header text-dark">
                                                    <h5>Ajouter une ou plusieurs images</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body bg-bleu_transparent_ps">

                                                    <input type="file" name="inputArticleArray" multiple>

                                                </div>
                                                <div class="modal-footer">

                                                    <button type="submit" class="btn btn-primary">Ajouter</button>

                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Annuler</button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- X Modal  Carousel Ajout Images -->

                                <!-- Modal  Carousel Suppression Images -->
                                <div class="modal fade" id="ModalCarouselAcceuilSupp" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <form action="/admin/acceuil/carousel" method="post"
                                                enctype="multipart/form-data">
                                                <div class="modal-header text-dark">
                                                    <h5>Supprimer une ou plusieurs images</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body bg-bleu_transparent_ps">

                                                    <ul id="ulListeCarousel" class="list-unstyled row">

                                                        {{#each dbCarouselAcceuil }}
                                                        {{#each galleryImg }}

                                                        <li class="col-md-6 my-2">
                                                            <div class="mt-2">
                                                                <img src="{{ filename }}" class="d-block w-100 h-100"
                                                                    alt="">
                                                                {{!-- Formulaire Delete une image --}}
                                                                <form
                                                                    action="/admin/acceuil/carousel/{{ ../this._id }}?_method=PUT"
                                                                    method="post" enctype="multipart/form-data">
                                                                    <input type="hidden" name="deleteImg"
                                                                        value='{{ name }}'>
                                                                    <button type="submit"
                                                                        class="btn btn-danger mt-1 btn-sm">Supprimer
                                                                        l'image</button>
                                                                </form>
                                                            </div>
                                                        </li>

                                                        {{/each}}
                                                        {{/each}}
                                                    </ul>

                                                </div>
                                                <div class="modal-footer">

                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Annuler</button>


                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- X Modal  Carousel Suppression Images -->

                                {{!-- X collaps modification image caroussel --}}

                                {{!-- Cadre modification carde caroussels acceuil--}}

                                {{!-- Modification message d'acceuil --}}
                                <div class="col-md-8 center-div border border-white rounded-lg my-3 pb-3">
                                    <h2 class="mt-2">Message d'acceuil</h2>



                                    {{#if titleNoExist}}

                                    <form action="/admin/acceuil" method="POST">

                                        <textarea type="text" class="p-2 m-2" name="mesAcceuil" cols="45" rows="4">
                                            </textarea>

                                </div>

                                {{!-- X Modification message d'acceuil --}}
                                <div class="col-md-12 center-div mb-4 mt-4">
                                    <button type="submit" class="btn btn-success">Créé un titre</button>
                                </div>

                                </form>

                                {{else}}

                                <div class="col-md-8 center-div border border-white rounded-lg mt-1">
                                    <h5 class="my-1">{{messageAcceuil.mesAcceuil}}</h5>
                                </div>


                                <form action="/admin/acceuil/{{ messageAcceuil._id }}?_method=PUT" method="POST">

                                    <textarea type="text" class="p-2 m-2" name="mesAcceuil" cols="45"
                                        rows="4"></textarea>



                                    {{!-- X Modification message d'acceuil --}}

                                    <button type="submit" class="btn btn-success">Modifier</button>
                            </div>

                            </form>

                            {{/if}}


                            {{!-- X Interrieur collaps acceuil --}}
                        </div>
                    </div>
                    <div class="trait_admin"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- X collaps acceuil --}}

</div>