{{!-- Archive UPDATE --}}

<form action="/admin/archive/{{LoadArchive._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="col-md-12">

        <label for="exampleFormControlInput1">
            <h4>Date de l'archive :</h4>
        </label>

        <div class="form-group d-inline-flex justify-content-center mb-2">
            <input type="text" class="form-control" id="iddateArchive" value="{{ArchiveID.dateArchive}}"
                name="dateArchive">
        </div>
    </div>

    {{!-- Cadre modification image archive --}}
    <div class="col-md-6 center-div border border-white rounded-lg my-3">
        <h2 class="mt-2">Image de l'archive</h2>
        <div class="col-md-5 center-div bg-white"><img src="{{ArchiveID.imageArchive}}"
                class="d-block w-100 h-75 taille_img_arch">
        </div>
        <div class="form-group m-2">
            <input type="file" class="form-control-file mb-1" id="exampleFormControlFile1" name="imageArchive">
        </div>

    </div>
    {{!-- X Cadre modification image archive --}}

    {{!-- Cadre modification carde archives --}}
    <div class="col-md-10 center-div border border-white rounded-lg mt-2 pb-2">
        <h2 class="mt-2">Liens archive</h2>

        <div class="form-group d-inline-flex justify-content-center mb-2">
            <input type="text" class="form-control mr-2" id="idnomPremierLien" value="{{ArchiveID.title}}"
                name="title">
            <input type="text" class="form-control ml-2" id="idlienPremierLien" value="{{ArchiveID.link}}"
                name="link">
        </div>

        <div class="form-group d-inline-flex justify-content-center mb-2">
            <input type="text" class="form-control mr-2" id="idnomPremierLien" value="{{ArchiveID.title2}}"
                name="title2">
            <input type="text" class="form-control ml-2" id="idlienPremierLien" value="{{ArchiveID.link2}}"
                name="link2">
        </div>

    </div>
    {{!-- Cadre modification carde archives --}}

    <!-- Button  modal Modifier Archive -->
    <div class="col-md-12 center-div my-4">
        <button type="submit" class="btn btn-success mr-2">Modifier l'archive</button>
</form>
<!-- / Button  modal Modifier Archive -->

<!-- Button  modal suppression Archive -->
<button type="button" class="btn btn-danger ml-2" data-toggle="modal" data-target="#modalSupprArchive"
    aria-label="Close">
    Supprimer
</button>
<!-- / Button  modal suppression Archive -->
</div>




{{!-- Modal suppression Archive --}}
<div class="modal fade" id="modalSupprArchive" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-primary">
                <h5 class="modal-title">Supprimer l archive {{ ArchiveID.dateArchive }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">

                {{!-- Formulaire DELETE Archive --}}
                <form action="/admin/Archive/{{ ArchiveID._id }}/?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
                {{!-- / Formulaire DELETE Archive --}}

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
{{!-- / Modal suppression Archive --}}

{{!-- / Archive UPDATE --}}