{{!-- Interieur collaps article id --}}
<div class="card-body text-center text-primary">

    <div class="container-fluid bg-bleu_transparent_ps">
        <form action="/admin/Article/{{ LoadArticle._id }}?_method=PUT" method="POST" enctype="multipart/form-data">
            {{! -- enctype pour pouvoir transferer des fichiers --}}
            <div class="row">
                <div class="col-md-3">

                    {{!-- Modification PEGI id --}}
                    <div class="mb-3 mt-2 border border-white rounded-lg text-white" style="max-width: 16rem;">

                        <div class="card-header">
                            <h4>Pegi</h4>
                        </div>

                        <div class="card-body">
                            <h5>PEGI {{ArticleID.pegi}}</h5>
                        </div>

                        <div class="card-footer">
                            <div class="col-md-6 center-div m-2">
                                <label for="pegi">
                                    <select class="form-control" id="pegi" name="pegi">
                                        <option value="3">PEGI 3</option>
                                        <option value="7">PEGI 7</option>
                                        <option value="12">PEGI 12</option>
                                        <option value="16">PEGI 16</option>
                                        <option value="18">PEGI 18</option>
                                    </select>
                                </label>
                            </div>
                        </div>

                    </div>
                    {{!-- X Modification PEGI id --}}

                    {{!-- Modification details --}}
                    <div class="border border-white rounded-lg text-white mb-3 mt-2" style="max-width: 16rem;">

                        <div class="card-header">
                            <h4>Details</h4>
                        </div>
                        <div class="card-body text-white">


                            {{!-- modif details genre --}}
                            <label for="exampleFormControlInput1">
                                <h5 class="card-title">Genre</h5>
                            </label>
                            <div class="form-group d-inline-flex justify-content-center mb-3">
                                <input type="text" class="form-control" id="exampleFormControlInput2"
                                    value="{{ArticleID.details.genre}}" name="genre" required>
                            </div>
                            {{!-- X Modif details genre --}}

                            {{!-- modif details editeur --}}
                            <label for="exampleFormControlInput1">
                                <h5 class="card-title">Editeur</h5>
                            </label>
                            <div class="form-group d-inline-flex justify-content-center mb-3">
                                <input type="text" class="form-control" id="exampleFormControlInput2"
                                    value="{{ArticleID.details.editeur}}" name="editeur" required>
                            </div>
                            {{!-- X Modif details editeur --}}

                            {{!-- modif details date de sortie --}}
                            <label for="exampleFormControlInput1">
                                <h5 class="card-title">Date de sortie</h5>
                            </label>
                            <div class="form-group d-inline-flex justify-content-center mb-3">
                                <input type="text" class="form-control" id="exampleFormControlInput2"
                                    value="{{ArticleID.details.dateDeSortie}}" name="dateDeSortie" required>
                            </div>
                            {{!-- X Modif details date de sortie --}}

                            {{!-- modif details editeur --}}
                            <label for="exampleFormControlInput1">
                                <h5 class="card-title">multijoueurs</h5>
                            </label>
                            <div class="form-group d-inline-flex justify-content-center mb-3">
                                <input type="text" class="form-control" id="exampleFormControlInput2"
                                    value="{{ArticleID.details.multijoueurs}}" name="multijoueurs" required>
                            </div>
                            {{!-- X Modif details editeur --}}

                        </div>
                    </div>
                    {{!-- X Modification details --}}

                    {{!-- Modification Langue --}}
                    <div class="border border-white rounded-lg text-white mb-3 mt-2" style="max-width: 16rem;">
                        <div class="card-header">
                            <h4>Langue</h4>
                        </div>
                        <div class="card-body text-center">

                            {{!-- modif langue langue ecrant --}}
                            <label for="exampleFormControlInput1">
                                <h5 class="card-title">Langues à l'écran:</h5>
                            </label>
                            <div class="form-group d-inline-flex justify-content-center mb-3">
                                <input type="text" class="form-control" id="exampleFormControlInput2"
                                    value="{{ArticleID.langue}}" name="langue" required>
                            </div>
                            {{!-- X Modif langue langue ecrant --}}

                            {{!-- modif voix --}}
                            <label for="exampleFormControlInput1">
                                <h5 class="card-title">Voix</h5>
                            </label>
                            <div class="form-group d-inline-flex justify-content-center mb-3">
                                <input type="text" class="form-control" id="exampleFormControlInput2"
                                    value="{{ArticleID.voix}}" name="voix" required>
                            </div>
                            {{!-- X Modif voix --}}

                        </div>
                    </div>

                    {{!-- X Modification Langue --}}

                    {{!-- Cadre Evaluation --}}
                    <div class="border border-white rounded-lg text-white mb-3 mt-2" style="max-width: 16rem;">
                        <div class="card-header">
                            <h4>Evaluation</h4>
                        </div>
                        <div class="card-body">
                            <h5>
                                <p class="card-text">{{ArticleID.note}}</p>
                            </h5>
                        </div>
                    </div>
                    {{!-- / Cadre Evaluation --}}
                </div>


                <div class="col-md-9 text-center text-white">

                    {{!-- Modification titre du jeux --}}
                    <label for="exampleFormControlInput1">
                        <h2 class="card-title m-3">Titre du jeux: </h5>
                    </label>

                    <div class="form-group center-div">
                        <input type="text" class="form-control" id="exampleFormControlInput2"
                            value="{{ArticleID.title}}" name="title" required>
                    </div>
                    {{!-- X Modification titre du jeux --}}




                    <div class="d-flex justify-content-around">

                        {{!-- Modification image id --}}
                        <div class="text-center border border-white rounded-lg text-white" style="max-width: 20rem;">
                            <h4 class="mt-2">Image de l'article</h4>
                            <div class="col-md-6 center-div bg-white">
                                <img src="{{ArticleID.imageCard}}" alt="" class="d-block w-100 h-75 taille_img_arch">
                            </div>
                            <div class="form-group m-2">

                                <input type="file" class="form-control-file" id="imageCardAdmin" name="imageCard"
                                    accept="image/*"
                                    onchange="loadFile(event)">{{!-- required oblige a mettre l'image --}}
                                <div class="col-md-6 center-div bg-white">
                                    <img id="output" class="d-block w-100 h-75 taille_img_arch" />
                                </div>
                                {{!-- Script pour afficher l'image --}}
                                <script>
                                    var loadFile = function (event) {
                                        var reader = new FileReader();
                                        reader.onload = function () {
                                            var output = document.getElementById('output');
                                            output.src = reader.result;
                                        };
                                        reader.readAsDataURL(event.target.files[0]);
                                    };
                                </script>
                                {{!-- X Script pour afficher l'image --}}

                            </div>
                        </div>
                        {{!--X Modification image id --}}

                        {{!-- Cadre modification caroussel id admin MODAL --}}

                        <div class="text-center border border-white rounded-lg text-white">
                            <h2 class="mt-2">Images carousel</h2>

                            <ul id="ulListeCarousel" class="list-unstyled row">

                                {{#each carouselArticle }}
                                {{#each galleryImg }}
                                <li class="col-md-3 my-2"><img src="{{ filename }}" style="width:60%">
                                </li>
                                {{/each}}
                                {{/each}}
                            </ul>

                            <div class="col-md-12 center-div mb-2 mt-3">

                                {{#if carouselArticle }}

                                <!-- Button  modal ajout images carousel -->
                                <button type="button" class="btn btn-primary m-2" data-toggle="modal"
                                    data-target="#ModalCarouselAcceuilAjout">Ajouter une image</button>
                                <!--/ Button  modal ajout images carousel -->

                                <!-- Button  modal supprimer images carousel -->
                                <button type="button" class="btn btn-danger mt-1" data-toggle="modal"
                                    data-target="#ModalCarouselsuppimerimage">Supprimer une image</button>
                                <!-- / Button  modal supprimer images carousel -->

                                {{else}}

                                <!-- Button  modal ajout images carousel vide-->
                                <button type="button" class="btn btn-primary m-2" data-toggle="modal"
                                    data-target="#ModalCarouselAcceuilVide">Créé un carousel image</button>
                                <!--/ Button  modal ajout images carousel vide-->

                                {{/if}}

                            </div>
                        </div>
                        {{!-- /Cadre modification carde caroussels id admin MODAL --}}

                    </div>

                    {{!-- Cadre modification texte description article id --}}
                    <div class="text-white mb-3 mt-4 border border-white rounded-lg" style="max-width: 108vh;">
                        <div class="card-header">
                            <h2>Description</h2>
                        </div>
                        <div class="card-body text-center">
                            {{ArticleID.descriptionGen}}
                        </div>
                        <div class="card-footer">
                            <textarea type="text" class="p-2" placeholder="Entrer votre texte" name="descriptionGen"
                                id="" cols="50" rows="7"></textarea>
                        </div>
                    </div>
                    {{!-- Cadre modification texte description article id --}}

                    {{!-- Cadre modification texte description article id simplifier --}}
                    <div class="text-white mb-3 mt-4 border border-white rounded-lg" style="max-width: 108vh;">
                        <div class="card-header">
                            <h2>Description simplifier</h2>
                        </div>
                        <div class="card-body text-center">
                            {{ArticleID.descriptionSimple}}
                        </div>
                        <div class="card-footer">
                            <textarea type="text" class="p-2" placeholder="Entrer votre texte" name="descriptionSimple"
                                id="" cols="50" rows="4"></textarea>
                        </div>

                    </div>
                    {{!-- Cadre modification texte description article id simplifier --}}

                    <button type="submit" class="btn btn-success mr-3">Modifier l'article</button>
                </div>
            </div>
        </form>

        <form method="get" action="/admin">
            <button type="submit" class="btn btn-secondary mx-2">Annuler</button>
        </form>

        <button type="button" class="btn btn-danger ml-5">Supprimer</button>
    </div>
    <div class="trait_admin"></div>

    {{> admin/listeArticles}}

</div>
{{!-- X Interieur collaps article id --}}

<!-- Modal  Carousel Ajout Images  carousel vide -->
<div class="modal fade" id="ModalCarouselAcceuilVide" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{!-- Si le carousel est vide alors on post --}}
            <form action="/admin/CarrouselArticle/{{ LoadArticle._id }}" method="post" enctype="multipart/form-data">
                <div class="modal-header text-dark">
                    <h5>Ajouter une ou plusieurs images</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h1 class="text-dark">Carrousel images {{ArticleID.title}} </h1>
                <div class="modal-body bg-bleu_transparent_ps">
                    <input type="file" name="inputArticleArray" multiple>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- / Modal  Carousel Ajout Images  carousel vide -->

<!-- Modal  Carousel supprimer image -->
<div class="modal fade" id="ModalCarouselsuppimerimage" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-dark">
                <h5>Supprimer une ou plusieurs images</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-bleu_transparent_ps">
                <ul id="ulListeCarousel" class="list-unstyled row">
                    {{#each carouselArticle }}
                    {{#each galleryImg }}
                    <li class="col-md-4 my-2">
                        <div class="mt-2">
                            <img src="{{ filename }}" style="width:60%">
                            {{!-- Bouton delete img --}}
                            <form action="/admin/CarrouselArticle/{{ ../this.id }}?_method=PUT" method="post"
                                enctype="multipart/form-data">
                                <input type="hidden" name="deleteImg" value='{{ name }}'>
                                <button type="submit" class="btn btn-danger mt-1 btn-sm">Supprimer
                                    l'image</button>
                            </form>
                        </div>
                    </li>
                    {{!-- / Bouton delete img --}}
                    {{/each}}
                    {{/each}}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
<!-- / Modal  Carousel supprimer image -->

<!-- Modal  Carousel Ajout Images  carousel -->
<div class="modal fade" id="ModalCarouselAcceuilAjout" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{!-- Si le carousel a dejat des données alors on update --}}
            {{#each carouselArticle }}
            <form action="/admin/CarrouselArticle/{{ _id }}?_method=PUT" method="post" enctype="multipart/form-data">
                <div class="modal-header text-dark">
                    <h5>Ajouter une ou plusieurs images{{ _id }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h1 class="text-dark">Carrousel images</h1>
                <div class="modal-body bg-bleu_transparent_ps">
                    <input type="hidden" name="addImg" value='{{ name }}'>
                    <input type="file" name="inputArticleArray" multiple>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </form>
            {{/each}}
        </div>
    </div>
</div>
<!-- / Modal  Carousel Ajout Images  carousel -->
