{{!-- Collaps contacts --}}
<div class="container">
    <div class="accordion mt-5" id="accordioncontacts">
        <div class="card bg-gris_transparent_ps">
            <div class="card-header" id="headingcontacts">
                <h2 class="mb-0">

                    {{#if LoadArchive}}

                    <button class="btn btn-block text-left" type="button" data-toggle="collapse" aria-expanded="true"
                        aria-controls="collapsecontacts">
                        <div class="container text-center text-primary pt-2">
                            <h2>Contacts</h2>
                        </div>
                    </button>
                    {{else}}
                    {{#if LoadArticle }}
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse" aria-expanded="true"
                        aria-controls="collapsecontacts">
                        <div class="container text-center text-primary pt-2">
                            <h2>Contacts</h2>
                        </div>
                    </button>
                    {{else}}
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapsecontacts" aria-expanded="true" aria-controls="collapsecontacts">
                        <div class="container text-center text-primary pt-2">
                            <h2>Contacts</h2>
                        </div>
                    </button>
                    {{/if}}
                    {{/if}}

                </h2>
                <div class="trait_admin"></div>
            </div>

            <div id="collapsecontacts" class="collapse" aria-labelledby="headingcontacts"
                data-parent="#accordioncontacts">
                <div class="card-body text-center text-primary">

                    {{!-- Interieur collaps contact --}}

                    <div class="container">

                        <div class="d-flex justify-content-center">
                            <div
                                class="col-md-5 text-white text-center bg-bleu_transparent_ps text-decoration-none m-2">
                                <h2 class="mt-2">A propos</h2>

                                {{#if aproposNoExist}}

                                <form action="/admin/contact" method="POST">

                                    <textarea type="text" class="p-2"
                                        placeholder="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."
                                        id="" cols="30" rows="8" name="apropos"></textarea>

                                    <h2 class="mt-4">Me suivre sur</h2>
                                    <label for="exampleFormControlInput1">twitter</label> <br>
                                    <div class="form-group d-inline-flex justify-content-center mb-2">
                                        <input type="text" class="form-control" id="exampleFormControlInput5"
                                            value="{{messageContact.inputtwitter}}" name="inputtwitter">
                                    </div>
                                    <br><label for="exampleFormControlInput1">Facebook</label><br>
                                    <div class="form-group d-inline-flex justify-content-center mb-2">
                                        <input type="text" class="form-control" id="exampleFormControlInput3"
                                            value="{{messageContact.inputfacebook}}" name="inputfacebook">
                                    </div>
                                    <br><label for="exampleFormControlInput1">Github</label><br>
                                    <div class="form-group d-inline-flex justify-content-center mb-4">

                                        <input type="text" class="form-control" id="exampleFormControlInput4"
                                            value="{{messageContact.inputGithub}}" name="inputGithub">
                                    </div><br>

                                    <div class="form-group d-inline-flex justify-content-center mb-4">
                                        <button type="submit" class="btn btn-success">Créé</button>

                                    </div>
                                </form>

                                {{else}}

                                <div class="col-md-8 center-div border border-white rounded-lg mt-1 mb-2">
                                    <h5 class="my-1">{{messageContact.apropos}}</h5>
                                </div>

                                <form action="/admin/contact/{{ messageContact._id }}?_method=PUT" method="POST">

                                    <textarea type="text" class="p-2"
                                        placeholder="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."
                                        id="" cols="30" rows="8" name="apropos"></textarea>

                                    <h2 class="mt-4">Me suivre sur</h2>
                                    <label for="exampleFormControlInput1">twitter</label> <br>
                                    <div class="form-group d-inline-flex justify-content-center mb-2">
                                        <input type="text" class="form-control" id="exampleFormControlInput5"
                                            value="{{messageContact.inputtwitter}}" name="inputtwitter">
                                    </div>
                                    <br><label for="exampleFormControlInput1">Facebook</label><br>
                                    <div class="form-group d-inline-flex justify-content-center mb-2">
                                        <input type="text" class="form-control" id="exampleFormControlInput3"
                                            value="{{messageContact.inputfacebook}}" name="inputfacebook">
                                    </div>
                                    <br><label for="exampleFormControlInput1">Github</label><br>
                                    <div class="form-group d-inline-flex justify-content-center mb-4">

                                        <input type="text" class="form-control" id="exampleFormControlInput4"
                                            value="{{messageContact.inputGithub}}" name="inputGithub">
                                    </div><br>

                                    <div class="form-group d-inline-flex justify-content-center mb-4">
                                        <button type="submit" class="btn btn-success">Modifier</button>
                                    </div>
                                </form>

                                {{/if}}

                            </div>
                        </div>
                    </div>
                    {{!-- Interieur collaps contacts--}}
                    <div class="trait_admin"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- X collaps contacts --}}